.video-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.85);
  .video-wrapper {
    width: 800px;
    height: 500px;
    position: relative;
    @media only screen and (max-width: 600px) {
      width: 320px;
      height: 220px;
    }

    .close-modal {
      position: absolute;
      top: -50px;
      right: -150px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      @media only screen and (max-width: 600px) {
        top: -70px;
        right: 0px;
      }
    }
  }
}
